<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="102.0.10" targetFramework="net472" />
  <package id="cef.redist.x86" version="102.0.10" targetFramework="net472" />
  <package id="CefSharp.Common" version="102.0.100" targetFramework="net472" />
  <package id="CefSharp.Wpf" version="102.0.100" targetFramework="net472" />
  <package id="ControlzEx" version="5.0.1" targetFramework="net472" />
  <package id="FontAwesome.Sharp" version="5.15.4" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net472" />
</packages>